.footer-title {
  padding: 35px 0;
  line-height: 0;
}

.footer-title__logoname {
  height: 30px;
  width: 100%;
  transition: fill .2s ease-in-out;
}

.footer-title__logoname_dark {
  fill: black;
}

.footer-title__logoname_light {
  fill: white;
}