.footer {
  background-color: rgba(66, 66, 66, 0);
  text-align: center;
  padding: 0px 20px;
  transition: color .2s ease-in-out;
}

.footer-content {
  line-height: 20px;
}

.footer__title {
  padding: 35px 0;
  line-height: 0;
  min-height: 100px;
  min-height: calc(100vh - var(--viewportVH, 1vh) * 100 + 100px);
  transition: min-height .15s ease-out;
}

.footer__body {
  padding: 40px 0;
  min-height: 300px;
}

.footer_text-dark {
  color: black;
}

.footer_text-light {
  color: white;
}

.footer__logoname {
  height: 30px;
  width: 100%;
  transition: fill .2s ease-in-out;
}

.footer__logoname_dark {
  fill: black;
}

.footer__logoname_light {
  fill: white;
}