.footer-section {
  text-align: left;
  padding: 10px 0;
}

.footer-section__title {
  line-height: 2rem;
  letter-spacing: .20rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: color .2s ease-in-out;
}

.footer-section__title_light {
  color: white;
}

.footer-section__title_dark {
  color: black;
}

.footer-section__content * {
  margin-right: 10px;
}