.footer {
  background-color: rgba(66, 66, 66, 0);
  text-align: center;
  padding: 0px 20px;
  transition: color .2s ease-in-out;
}

.footer__section {
  text-align: left;
  padding: 10px 0;
}

.footer__section-title {
  padding-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.footer__cereators {
  padding-top: 10px;
}