.body {
  position: relative;
  text-align: center;
  padding: 40px 20px;
  margin-top: 100px;
  min-height: calc(100vh - 200px);
  min-height: calc(var(--viewportVH, 1vh) * 100 - 200px);
  transition: min-height .15s ease-out;
}

.body-title {
  line-height: 20px;
}

.body__modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 200px);
  min-height: calc(var(--viewportVH, 1vh) * 100 - 300px);
}