.footer-link__svg {
  height: .8rem;
  font-size: 0;
  margin-left: 5px;
  transition: fill .2s ease-in-out;
}

.footer-link {
  line-height: 2rem;
}

.footer-link_block {
  display: block;
}

.footer-link_inline {
  display: inline;
}

.footer-link_light,
.footer-link_light:visited {
  color: white;
}

.footer-link_light:focus,
.footer-link_light:hover {
  color: #FF2400;
}

.footer-link_dark,
.footer-link_dark:visited {
  color: black;
}

.footer-link_dark:focus,
.footer-link_dark:hover {
  color: #FF2400;
}

.footer-link__svg_light {
  fill: white;
}

.footer-link__svg_dark {
  fill: black;
}